@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-weight: bold !important;
}

.no-scroll {
  overflow: hidden;
}

header {
  position: absolute;
    top: 0;
  left: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  height: 60px;
}

header.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 10px 0;
  animation: headerAppear 0.8s forwards;
}

@keyframes headerAppear {
  from {
    opacity: 0;
    top: -100px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

header.fixed .links li a {
  color: #000000;
  transition: all 0.3s ease-in-out;
}

header.fixed .links li a::before,
header.fixed .sign-in-btn::before {
  background-color: #004b91;
}

header.fixed .links li a.active,
header.fixed .links li a:hover,
header.fixed .sign-in-btn,
header.fixed .user-name {
  color: #004b91;
}

header.fixed .diagnosis-btn,
header.fixed .booking-btn {
  background-color: #004b91;
  border-color: #004b91;
}

header.fixed .diagnosis-btn:hover,
header.fixed .booking-btn:hover {
  background-color: transparent;
  color: #004b91;
}

header .links {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 30px;
}

header .links li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

header .links li a::before,
.sign-in-btn::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
}

header .links li a:hover::before,
header .links li a.active::before,
.sign-in-btn:hover::before {
  font-size: 16px;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

header .links li a.active {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

header .links li a:hover {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.logo {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 20%;
  transition: all 0.3s ease-in-out;
}

.header-btn {
  width: fit-content;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  min-width: 20%;
}

.header-btn li {
  min-width: 50px;
}

.sign-in-btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.sign-in-btn:hover {
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.diagnosis-btn,
.booking-btn {
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  outline: none;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.diagnosis-btn:hover,
.booking-btn:hover {
  background-color: #004b91;
  border: 2px solid #004b91;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login-container {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.login-overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.login-form.show,
.register-form.show,
.reset-pass-form.show {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 500px;
  height: fit-content;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: none;
  outline: none;
}

.login-form.hide,
.register-form.hide,
.reset-pass-form.hide {
  display: none;
  transition: all 0.3s ease-in-out;
}

.register-form.show {
  animation: bottomToTop 0.7s forwards;
}

.login-form.show {
  animation: topTopBottom 0.7s forwards;
}

.reset-pass-form.show {
  animation: rightToLeft 0.7s forwards;
}

@keyframes rightToLeft {
  from {
    transform: translate(0%, -50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes bottomToTop {
  from {
    transform: translate(-50%, 0%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes topTopBottom {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  background-color: transparent;
}

.close-btn:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.login-header,
.register-header,
.reset-pass-header {
  font-size: 25px;
  color: #000000;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin: 40px 0 20px 0;
}

.social-login {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 5px 10px;
  min-height: 30px;
  width: 40%;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-btn:hover {
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}

.social-btn span {
  color: #000000;
  font-weight: bold;
  font-size: 15px;
}

.social-btn a {
  width: 25px;
  height: 25px;
}

.or {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 0 0;
  color: #000000;
}

.login-form-container,
.register-form-container,
.reset-pass-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}

.input-area input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding: 10px 20px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.input-area label {
  border-radius: 25px;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0 5px;
  width: fit-content;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  pointer-events: none;
  cursor: none;
  transition: all 0.3s ease-in-out;
}

.input-area input:focus {
  border: 1px solid #004b91;
  transition: all 0.3s ease-in-out;
}

.input-area input:focus ~ label {
  top: -8px;
  left: 20px;
  font-size: 12px;
  color: #004b91;
  transition: all 0.3s ease-in-out;
}

.input-area.has-value label {
  top: -8px;
  left: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.forgot-pass {
  width: 100%;
  text-decoration: none;
  color: #004b91;
  font-size: 14px;
  padding: 10px 0 0 5px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  color: #000000;
  gap: 5px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.sign-up,
.sign-in {
  text-decoration: none;
  color: #004b91;
  transition: all 0.3s ease-in-out;
}

.sign-up:hover,
.sign-in:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.forgot-pass:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input-list button[type="submit"] {
  color: #ffffff;
  background-color: #004b91;
  border: 1px solid #004b91;
  outline: none;
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  margin: 20px 0 10px 0;
  font-size: 15px;

  transition: all 0.3s ease-in-out;
}

.input-list button[type="submit"]:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #004b91;
  transition: all 0.3s ease-in-out;
}

.input-list button[type="submit"]:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

.accept-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.accept-btn .acceptChk {
  width: 20px;
  height: 20px;
}

.accept-btn .acceptChk:hover {
  cursor: pointer;
}

.accept-btn span {
  font-size: 14px;
}

.accept-btn span a {
  color: #004b91;
  cursor: pointer;
}

.accept-btn span a:hover {
  text-decoration: underline;
}

input.error {
  border: 1px solid #b90000 !important;
}

.input-area input.error ~ label {
  color: #b90000 !important;
}

.error-mess {
  width: 100%;
  text-align: center;
  font-size: 12px;

  color: #b90000;
}

.gg-btn,
.fb-btn {
  display: none;
}

.user-name {
  color: #ffffff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.profile-btn {
  position: relative;
  padding: 10px;
  border: 1px solid transparent;
  max-width: 100px;
}

.profile-action {
  display: none;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 100%;
  left: -1px;
  padding: 10px 0 0 0;
  border-radius: 0 0 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
}

.profile-btn:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 25px 25px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.profile-btn:hover .user-name {
  color: #004b91;
  transition: all 0.3s ease-in-out;
}

.profile-btn:hover .profile-action {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.sign-out-btn {
  text-decoration: none;
  background-color: #ffffff;
  padding: 10px 0;
  color: #b90000;

  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 0 0 25px 25px;
}

.sign-out-btn:hover {
  background-color: #b90000;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.dashboard,
.book-btn {
  text-decoration: none;
  font-size: 16px;
  color: #004b91;
  background-color: #ffffff;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.dashboard:hover,
.book-btn:hover {
  color: #ffffff;
  background-color: #004b91;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  -webkit-appearance: none;
  margin: 0;
}

.get-code {
  position: absolute;
  border: 1px solid transparent;
  outline: none;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  background-color: transparent;
  color: #004b91;
  cursor: pointer;
  width: fit-content;
  height: 20px;
  margin: auto;
  text-align: center;
  font-size: 14px;

  right: 0;
  top: 10px;
  padding: 0 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.get-code[disabled] {
  cursor: not-allowed !important;
  color: rgba(0, 0, 0, 0.3) !important;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #004b91;
  animation: spin 1s linear infinite;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reset-pass-form-container .input-area:first-child input {
  padding-right: 60px;
}

.main-mess {
  position: fixed;
  display: flex;
  top: 15%;
  right: 10px;
  color: #004b91;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 99999;
  height: 30px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;

  border: 1px solid #ffffff;
  animation: appearFromTop 0.5s forwards;
}

.timeout-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #004b91;
  transform-origin: right;
  transform: scaleX(1);
  animation: timeOut 2s forwards;
}

.toggle-btn {
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  margin-right: 5%;
  display: none;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.line-1 {
  top: 1px;
}

.line-2 {
  top: 50%;
  transform: translateY(-50%);
}

.line-3 {
  bottom: 1px;
}

.open.line-1 {
  top: 36%;
  transform: translateY(50%) rotate(45deg);
}

.open.line-2 {
  opacity: 0;
}

.open.line-3 {
  bottom: 36%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu-container {
  position: fixed;
  top: 80px;
  right: 0;
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: menuDrop 0.5s forwards;
  border-radius: 0 0 25px 25px;
}

@keyframes menuDrop {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  list-style-type: none;
}

.menu-links li {
  width: 100%;
}

.menu-links li a {
  position: relative;
  text-decoration: none;
  display: block;
  color: #000000;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.menu-links li a:hover {
  cursor: pointer;
  background-color: #004b91;
  color: #ffffff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.menu-book-btn {
  width: 100%;
  border: 2px solid #004b91;
  background-color: #004b91;
  padding: 10px;
  color: #ffffff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.menu-book-btn:hover {
  color: #004b91;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu-sign-out {
  width: 100%;
  border: 2px solid #b90000;
  background-color: #b90000;
  padding: 10px;
  color: #ffffff;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.menu-sign-out:hover {
  color: #b90000;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@keyframes timeOut {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes appearFromTop {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 15%;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .header-btn {
    margin-right: 5%;
  }

  .logo {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .links,
  .header-btn {
    display: none !important;
  }

  .toggle-btn {
    display: block;
  }
}

@media (max-width: 480px) {
}
