/* Đảm bảo các phần tử cha chiếm toàn bộ chiều cao và chiều rộng của màn hình */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}


/* Container chính cho trang AppointmentsPage */
.appointments-page {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Container cho nội dung chính */
.content {
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.table-container {
    overflow-x: auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

th {
    background-color: #f5f5f5;
    font-weight: 500;
}

tr:hover {
    background-color: #f1f1f1;
}

td[align="center"] {
    text-align: center;
}
